.custom-header {
    background-color: #218838;
    min-height: 130px; /* Faz o header "invadir" um pouco o body */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Mantém tudo alinhado à esquerda */
    border-bottom-left-radius: 30px; /* Arredondado para suavizar a transição */
    border-bottom-right-radius: 30px;
    position: fixed; /* Fixa no topo */
    top: 0;
    left: 0;
    width: 100vw; /* Ocupa toda a largura da tela */
    z-index: 1000; /* Mantém acima de outros elementos */
    padding: 40px;
  }
  
  .user-container {
    display: flex;
    align-items: center;
    gap: 2px; /* Espaço entre o ícone e o texto */
  }
  
  #dropdown-user img {
    cursor: pointer;
    border: 2px solid white;
  }
  
  h5 {
    font-weight: bold;
  }

  .mb-0 {
    color: white;
  }
  