.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
}

.card h2 {
    color: #2c662d;
    font-weight: bold;
}

.card p {
    color: #2c662d;
    font-size: 1rem;
    margin-bottom: 20px;
}
