.custom-footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 30px;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 300px;
  border: 3px solid rgb(200, 209, 205);
}

.footer-background {
  padding: 20px 0; /* Aumenta o padding para cobrir o botão */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Garante que o footer fique acima de outros elementos */
  height: 80px;
}

.footer-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-link {
  flex-grow: 1;
  text-align: center;
}

.home-link {
  text-align: left;
  padding-left: 20px;
}

.chat-link {
  text-align: right;
  padding-right: 20px;
}

.custom-footer img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.footer-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1)); /* Sombra padrão */
}


.home-link img {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1)); /* Sombra no ícone Home */
}

.recycle-link img {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1)); /* Sombra no ícone Reciclagem */
}

.chat-link img {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1)); /* Sombra no ícone Chat */
}