<div class="footer-background">
  <footer class="custom-footer">
    <div class="footer-container">
      <a routerLink="/home" class="footer-link home-link">
        <img src="assets/home-icon.png" alt="Home" class="footer-icon" />
      </a>
      <a routerLink="/howtoseparate" class="footer-link recycle-link">
        <img src="assets/recycle-icon.png" alt="Reciclagem" class="footer-icon" />
      </a>
      <a routerLink="/collectors" class="footer-link chat-link">
        <img src="assets/chat-icon.png" alt="Catadores" class="footer-icon" />
      </a>
    </div>
  </footer>
</div>
